* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

.console__container{
    width: 30%;
    height: max-content;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 1.8vh;
}

.button{
    font-size: 20px;
    padding: 4px 30px;
    cursor: pointer;
}